<!DOCTYPE html>
<!--解决idea thymeleaf 表达式模板报红波浪线-->
<!--suppress ALL -->
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
    <meta charset="UTF-8">
    <title>学生管理</title>

    <script src="https://cdn.bootcdn.net/ajax/libs/jquery/3.6.0/jquery.js"></script>
    <link rel="stylesheet" href="/bootstrap-4.6.0-dist/css/bootstrap.min.css">
    <script src="/bootstrap-4.6.0-dist/js/bootstrap.min.js"></script>
<!--    <link href="/css/common.css" rel="stylesheet">-->
</head>

<body>

<!--</div>-->
<div>
    <div class="container" >
        <div class="row mt-5" >
            <div class="col-md-3" style="height: 100px">
                <h2>管理员：<span class="text-primary"><span shiro:principal/></span></h2>
                <h5>请选择你的操作</h5>
            </div>
            <div class="col-md-6 "></div>
            <div class="col-md-3 text-center " >
                <div class="btn-group mt-5">
                    <!-- Button trigger modal -->
                    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
                        添加
                    </button>

                    <a href="/test/toHomePage.action">
                        <button type="button" class="btn btn-primary ml-2">返回</button>
                    </a>
                </div>
            </div>
        </div>
        <div class="row mt-2">
            <div class="col-md-12">
                <table class="table table-hover">
                    <thead class="thead-dark">
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">账号</th>
                        <th scope="col">密码</th>
                        <th scope="col">姓名</th>
                        <th scope="col">系别</th>
                        <th scope="col">班级</th>
                        <th scope="col">操作</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="student:${pageInfo.list}">
                        <th scope="row" th:text="${student.getId()}"></th>
                        <td th:text="${student.getAccount()}"></td>
                        <td th:text="${student.getPassword()}"></td>
                        <td th:text="${student.getStudentName()}"></td>
                        <td th:text="${student.getDepartment()}"></td>
                        <td th:text="${student.getStudentClass()}"></td>
                        <td>
                            <button type="button" class="btn btn-light" th:onclick="deleteStudent([[${student.getId()}]])">删除</button>
                        </td>
                    </tr>
                    </tbody>
                </table>

                <div class="w-100 " >
                    <nav aria-label="Page navigation example" style="margin-left: 38%">
                        <ul class="pagination center">
                            <li class="page-item">
                                <a class="page-link" th:href="@{/test/getStudent.action(pageNum=${pageInfo.hasPreviousPage}?${pageInfo.prePage}:1)}" aria-label="Previous">
                                    <span aria-hidden="true">&laquo;</span>
                                </a>
                            </li>
                            <span th:each="pageNum : ${pageInfo.navigatepageNums}">
                                <li class="page-item"><a class="page-link" th:href="'/test/getStudent.action?pageNum='+${pageNum}" th:text="${pageNum}">1</a></li>
                            </span>
                            <li class="page-item">
                                <a class="page-link" th:href="@{/test/getStudent.action(pageNum=${pageInfo.hasNextPage}?${pageInfo.nextPage}:${pageInfo.pages})}" aria-label="Next">
                                    <span aria-hidden="true">&raquo;</span>
                                </a>
                            </li>
                        </ul>
                    </nav>
                </div>

            </div>
        </div>
    </div>
</div>

<!-- 添加模态框 -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">添加学生信息</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form id="form">
                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <label for="inputEmail4">账号</label>
                            <input type="text" class="form-control" name="account" id="inputEmail4" placeholder="账号">
                        </div>
                        <div class="form-group col-md-6">
                            <label for="inputPassword4">密码</label>
                            <input type="password" class="form-control" name="password" id="inputPassword4" placeholder="密码">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="inputAddress">姓名</label>
                        <input type="text" class="form-control" name="studentName" id="inputAddress" placeholder="请输入姓名">
                    </div>
                    <div class="form-group">
                        <label for="inputAddress2">系别</label>
                        <select class="form-control" name="teacherName">
                            <span th:each="professionName:${professionNameList}">
                                <option th:value="${professionName}" th:text="${professionName}"></option>
                            </span>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="inputAddress2">班级</label>
                        <input type="text" class="form-control" name="studentClass" id="inputAddress3" placeholder="请输入班级">
                    </div>
                    <div class="form-group">
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" id="gridCheck">
                            <label class="form-check-label" for="gridCheck">
                                Check me out
                            </label>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">关闭</button>
                <button type="button" class="btn btn-primary" data-dismiss="modal" id="tianjia">确认</button>
            </div>
        </div>
    </div>
</div>



<script>

    $(function(){
        $("#tianjia").click(function(){
            var account=$('input[name="account"]').val();
            var password=$('input[name="password"]').val();
            if (account==''||password==''){
                alert("账号密码不能为空！");
            }else{
                $.ajax({
                    url: '/test/addStudent.action',
                    type: 'post',
                    data: $('#form').serialize(),
                    success: function(msg){
                        // alert(msg.code);
                        //code==200证明登陆成功
                        sleep(500).then(()=>{
                            alert(msg.msg)
                            location.reload(true);
                        })
                        // alert(msg.msg)
                        // location.reload(true);
                    },
                    error: function(){
                        alert("访问出错！");
                    }
                });
            }
        });
    })

    //进程阻塞
    function sleep (time) {
        return new Promise((resolve) => setTimeout(resolve, time));
    }

    function deleteStudent(id){
        if (confirm('是否确认删除本条信息？')){
            $.ajax({
                url: '/test/delectStudent.action',
                type: 'post',
                data: {
                    id:id,
                },
                success:function (msg) {
                    alert(msg.msg);
                    location.reload();
                }
            })
        }
    }

</script>

</body>
</html>
