/* CSS Document */

*{
    margin: 0;
    padding: 0;
}

#main {
    height: 800px;
    width: 80%;
    margin-left: 10%;
    padding-top: 30px;
}

#main header{
    height: 100px;

}

#buttonBox{
    margin-left:80%;
    margin-top: -20px;
}

#add{
    height: 30px;
    width: 60px;
    background: #f5ff09;
    border-radius: 5px;
    position: absolute;
}

#back{
    margin-left: 80px;
    height: 30px;
    width: 60px;
    background: #f5ff09;
    border-radius: 5px;
}

#hello {
    font-size: 35px;
    font-weight: 600;
}

#do{
    font-size: 22px;
    font-weight: 600;
}

#table {
    width: 100%;
    box-shadow: 0 2px 12px 0 rgba(0, 0, 0, 0.1);
    border-collapse:collapse;
    letter-spacing:1px;
    border-bottom:1px solid #dedede;
}

#head {
    height: 40px;
    border-bottom:1px solid #dedede;
}

#hang {
    text-align: center;
    height: 40px;border-bottom:1px solid #dedede;
}

#pageBox{
    background:#EBD2D2;height: 40px;
}

#paging{
    height: 30px;width: 300px;line-height: 30px;margin-left:65%
}

#paging a{
    height: 30px;width: 30px;background: #E5282B;border: 1px solid #8E84E8;padding: 4px 10px;
}

/*隐藏 页面的css配置*/
#loginPage {
    width: 100%;height: 100%;position: absolute;background-color: rgba(189,174,166,0.50);display: none;
}

#form_box{
    background:#FFFFFF;height: 370px;width: 500px;position: absolute;margin-left: 35%;margin-top: 150px;border-radius: 10px
}

#title{
    height: 80px;font-size: 25px;line-height: 80px;
}

#title font{
    font-weight: 600;
}

#line{
    background: #C8B1B1 ;height: 1px;width: 500px;
}

#account_box{
    height: 40px;margin-top: 20px;
}

#account{
    height: 30px;width: 300px;font-size: 14px;font-family:'微软雅黑 ';
}

#password_box{
    height: 40px;
    margin-top: 20px;
}

#password{
    height: 30px;width: 300px;font-size: 14px;font-family:'微软雅黑 ';
}

#name_box{
    height: 40px;
    margin-top: 20px;
}

#name{
    height: 30px;width: 300px;font-size: 14px;font-family:'微软雅黑 ';
}

#department_box,#class_box {
    height: 40px;
    margin-top: 20px;
}

#department,#class{
    height: 30px;width: 300px;font-size: 14px;font-family:'微软雅黑 ';
}


#lineTwo{
    background: #C8B1B1 ;height: 1px;width: 500px;margin-top: 20px;
}

#submit_box{
    height: 30px;margin-top: 20px
}

#backB{
    height: 35px;
    width: 60px;
    background: #EFE4E4
}

#tianjia{
    height: 35px;
    width: 60px;
    margin-left: 50px;
    background: #7A4E5B;
    color: aliceblue;
}

input::-webkit-input-placeholder {
    /* placeholder颜色 */
    color:#7A4E5B;
    /* placeholder字体大小 */
    font-size: 16px;
    text-align: center;
    font-family: 方正粗黑宋简体;
}

input:hover{
    -webkit-transition:border linear .2s,-webkit-box-shadow linear .5s;
    border-color:rgba(141,39,142,.75);
    -webkit-box-shadow:0 0 20px rgba(111,1,32,3)  ;
}
