/* CSS Document */

*{
    margin: 0;
    padding: 0;
}

#main .son{
    height:200px;

}

#tishi{
    height: 180px;width: 300px; margin-top: 10px;margin-left: 620px;
    position: absolute;
}

#tishi #hello {
    font-size: 35px;line-height: 50px;text-align: center;margin-top: 30px;
}

#tishi #select{
    font-size: 15px;margin-top: 10px;line-height: 40px;text-align: center;
}

.one {
    height: 180px;width: 300px; background: #E5D1D1;margin-top: 10px;margin-left: 180px; position: absolute;border-radius: 10px;
}

.one:hover{
    -webkit-transition:border linear .2s,-webkit-box-shadow linear .5s;
    border-color:rgba(141,39,142,.75);
    -webkit-box-shadow:0 0 18px rgba(111,1,32,3);
}

.two{
    height: 180px;width: 300px; background: #E5D1D1;margin-top: 10px;margin-left: 620px; position: absolute;border-radius: 10px
}
.two:hover{
    -webkit-transition:border linear .2s,-webkit-box-shadow linear .5s;
    border-color:rgba(141,39,142,.75);
    -webkit-box-shadow:0 0 18px rgba(111,1,32,3);
}

.three{
    height: 180px;width: 300px; background: #E5D1D1;margin-top: 10px;margin-left: 1070px; position: absolute;border-radius: 10px
}

.three:hover{
    -webkit-transition:border linear .2s,-webkit-box-shadow linear .5s;
    border-color:rgba(141,39,142,.75);
    -webkit-box-shadow:0 0 18px rgba(111,1,32,3);
}

.imgBox{
    height: 70px;width: 70px;background: #FFFDFD;margin-left: 110px;margin-top: 30px;border-radius: 350px
}

.imgBox img{
    height: 70px;
}


.name {
    margin-top: 15px;margin-left: 113px;font-weight: 600;
}

#logout_box{
    margin-top: 10px;
}

#logout_box button{
    height: 60px;width: 1200px;margin-left: 175px;font-size: 20px;
}